<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Acadêmico{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Sistema Acadêmico</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
                

                <li class="nav-item"><a class="nav-link text-dark" href="/pessoa/">Pessoa</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/curso/">Curso</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/disciplina/">Disciplina</a></li>
                
                <li class="nav-item"><a class="nav-link text-dark" href="/instituicao/">Instituição</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/cidade/">Cidade</a></li>
                
                <li class="nav-item"><a class="nav-link text-dark" href="/turma/">Turma</a></li>
                
                <li class="nav-item"><a class="nav-link text-dark" href="/avaliacao/">Avaliação</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/tipo-avaliacao/">Tipo Avaliação</a></li>
                
                <li class="nav-item"><a class="nav-link text-dark" href="/frequencia/">Frequência</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/ocorrencia/">Ocorrência</a></li>
                
                
                <li class="nav-item"><a class="nav-link text-dark" href="/area-saber/">Área do Saber</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/matricula/">Matrículas</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="/ocupacao/">Ocupações</a></li>
                <li class="nav-item"><a class="nav-link text-warning" href="/admin/">Admin</a></li>

            </ul>
        </div>
    </nav>

    <!-- Conteúdo específico de cada página -->
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts do Bootstrap (opcional para funcionalidades JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
