<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Início</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
<a class="navbar-brand" href="/">Sistema Acadêmico</a>

<div class="collapse navbar-collapse">
<ul class="navbar-nav">

<li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link text-dark" href="/pessoa/">Pessoa</a></li>
<li class="nav-item"><a class="nav-link text-dark" href="/curso/">Curso</a></li>
<li class="nav-item"><a class="nav-link text-dark" href="/disciplina/">Disciplina</a></li>
<li class="nav-item"><a class="nav-link text-dark" href="/instituicao/">Instituição</a></li>
<li class="nav-item"><a class="nav-link text-dark" href="/cidade/">Cidade</a></li>
<li class="nav-item"><a class="nav-link text-dark" href="/admin/">Admin</a></li>


</ul>
</div>
</nav>

<div class="container mt-5 text-center">
<h1>Bem-vindo ao Sistema Acadêmico</h1>
<p>Use o menu para navegar no site</p>
</div>

</body>
</html>